/*Media Query  */
.bg {
    background: url(aa.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: absolute;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
    top: 0;
}
.ii
{
    display: none!important;
     font-size: 2em!important;
}

.gird {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1rem 1rem!important; 
    /*In sm  */
}
.tt
{
    display: inline!important;
    font-size: 15px!important;
}
@media  screen and (max-width: 900px) {
    
    .tt
{
    display: none!important;
}
    .gird {

    padding: 0.5rem 1rem!important;
    /*In sm  */
}
    .ii
{
    display: block!important;
       
}
}
nav.cu.navbar.navbar-default {
    background-color: rgba(0,0,0,0.7)!important;
    min-height: 40px;
    height: 40px;
    border: 0px!important;
    border-radius: 0px;
}


.gird>div {
    text-align: center;
}
.gird>div>a {
    text-decoration: none;
    color: whitesmoke;
    font-family: unset;
}
/*NavBAR  */



/*dropper  */
       
       .dd
       {
           background-color: red;
           color: white;
       }
     #can {
    width: 100%;
    height: 81px;
    border: solid;
    border-style: dashed;
    border-color: gray;
    border-radius: 5px;
    animation: anm_c linear 3s infinite;
}
div#cc {
    position: absolute;
    margin: 0;
    top: 33%;
    left: 50%;
}
#dd
{
    position: relative;
}
 @keyframes anm_c
 {
        0%
        {
            border-radius: 5px;
        }
        50%
        {
            border-radius: 15px;
        }
        100%
        {
            border-radius: 5px;
        }

 }
/*Body   */
.sa
{
    height: 100vh;
}
.heading {
    text-align: center;
    color: white;
    font-size: 4em;
    padding: 5rem;
}
.content{
     color: white;
     text-align: center;
}
